<h1>Déclarer une perte de code</h1>
<form class="form" style="text-align: center">
  <fieldset>
    <legend>Formulaire</legend>
	<label>Email: </label>
	<input type="email" ng-model="user.email" placeholder="Tapez votre email" required>
	<label style="margin-left: 15px">Mot de Passe: </label>
	<input type="password" ng-model="user.password" placeholder="Tapez votre mot de passe" required>
    <button type="submit" class="btn" style="margin-left: 15px" ng-click="PertecodeCtrl.askForMDP(user)">Valider</button>
  </fieldset>
</form>
<div ng-show="PertecodeCtrl.envoiePerteCode" style="margin-top: 20px">
	<span class="alert alert-success" ng-show="PertecodeCtrl.envoiePerteCodeSuccess">
		Code(s) lié(s) au compte désactivé(s) avec succès.
	</span>
	<span class="alert alert-danger" ng-show="PertecodeCtrl.envoiePerteCodeFailed">
		Echec de la désactivation du(des) code(s) lié(s) au compte. Vérifiez votre email et votre mot de passe.
	</span>
</div>